<div class="container">
  <h2>Your Menus<h2>
  <%user_menus.each do |menu|%>
    <p><a id="menu_item" class = "menu" href = "/menu/<%=menu.id%>"><%=menu.name%></a></p>
  <%end%>
</div>


<div class="container">
  <h2>Your Items</h2>
  <%global_items.each do |item|%>
    <p><%=item.name%><%=item.price%></p>
  <%end%>
</div>