<div class = "login">
  <form id = "item-form" action = "/items/new" method = "POST" >
    <input type = "text" name = "item[name]" placeholder = "This item is called">
     <br>
    <input type = "text" name = "item[name]" placeholder = "What do you want to call ">
    
   
    <input type ="submit" value = "Create">
  </form>
</div>